{% extends 'global/base.html' %}

{% block content %}
<div class="form-wrapper">
    <h2>Criar contato</h2>
    <form action="{% url 'contact:create' %}"
        method='POST'
        enctype="multi/from-data"
    >
    {% csrf_token %}

    {% for field in form %}
    <div class="form-content">
        <div class="form-group">
            <label for="{{field.id_for_label}}"> {{field.label}} </label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}    
    </div>
    
    {% if form.non_field_errors %}
        <div class="form-content">
            <div class="form-group">
                <div class="message error">
            {{form.non_field_errors}}
            </div>
        </div>
    {% endif %}


    <div class="class form-content">
        <div class="class form-group">
            <button class="class btn" type="send"> Enviar </button>
        </div>
    </div>

</div>
</form>

{% endblock content %}

